<h1>Admin::Dashboard#show</h1>
<section class="products-show">
  <header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Total</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="/admin/products">Product Count</a>
        </td>
        <td>
          <h4><%= @products.count %></h4>
        </td>
      </tr>
      <tr>
        <td>
          Category Count
        </td>
        <td>
          <h4><%= @categories.count %></h4>
        </td>
      </tr>
    </tbody>

  </table>
</section>
